.column {
    float: left;
    width: 30%;
    padding: 5px;
    height: 430px;
    margin: 10px;
    background-color: #F4ECEC;

    
  }
.row::after {
    display: flex;

  } 
.imageProducts{
    height: 80%;
}
.column2{
    width: 100%;
    height: 250px;
}
.imageButton{
    font-size: 20px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
   
    
}
.imageButton2{
    font-size: 20px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.imageButton3{
  display: flex;
  flex-direction: row;
}
.space {
    width: 130px;
    height: auto;
    display: inline-block;
  }
.imagehouse{
font-weight: bold;
   
  }