/* .sectionBody{
    width: 100%;
    display: flex;
    justify-content: center;
} */
/* section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  } */

.loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

  .loginBox{
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    margin-left: 20px;

}
.spanText{
    color: #1775ee;
}
.loginRegisterButton{
    width: 90%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

}